*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Pics/5.png);
    background-size: cover;
    background-position: center;
}
nav 
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font: Tahoma;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    position: relative;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgb(40 40 40);
}
.Lon{
    background-image: url(Pics/Lon.jpg);
}
.Drian{
    background-image: url(Pics/Drian.jpg);
}
.Artor{
    background-image: url(Pics/Artor.jpg);
}
.overlay{
    background-size: contain;
    width: 105%;
    height: 105%;
    opacity: 0;
    transition: 0.4s ease-in-out;
    background-color: black;
    cursor: pointer;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;
    font: Tahoma;
    text-align: center;
    height: 100%;
    bottom: 10%;
}
.container:hover .overlay{
opacity: 0.8;
}
.content h3{
    font-size: 15px;
}
.container:hover {
    transform: translateY(-10px);
}
.cards{
    position: relative;
    left: 280px;
    bottom: 100%;
}
h1{
    color: white;
    font-size: 60px;
    left: 500px;
    position: relative;
    
}




