<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" conten="IE=edge">
    <title> Practice Website</title>
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}} " />
</head>

<body>
    <div>
        <section class="header">
            <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="convert">Application</a></li>
                </ul>
            </div>    
            </nav>
        </section> 
    </div>
    <br><br>
    <h1> BSCPE 3-7 </h1>
    <br><br><br>
        <div class="cards">
            <div class="container Lon">
                <a href="https://www.facebook.com/lonielkervin.alingasa">
                <div class="overlay">
                    <div class ="content">
                        <h3>Loniel Alingasa</h3>
                    </div>
                </div>
            </div>
            <div class="container Drian">
                <a href="https://www.facebook.com/Acebronola24">
                <div class="overlay">
                    <div class ="content">
                        <h3>Adrian Carl Bronola</h3>
                    </div>
                </div>
            </div>
            <div class="container Artor">
                <a href="https://www.facebook.com/arthurjohn.pinili">
                <div class="overlay">
                    <div class ="content">
                        <h3>Arthur John Pinili</h3>
                    </div>
                </div>
            </div>

</body>
</html>