<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" conten="IE=edge">
      <title> Practice Website</title>
      <link rel="stylesheet" href="{{url_for('static', filename='convert.css')}} " />
   </head>
   <body>
      <div>
         <section class="header">
            <nav>
               <div class="nav-links">
                  <ul>
                     <li><a href="/">Home</a></li>
                     <li><a href="about">About</a></li>
                     
                  </ul>
               </div>
            </nav>  
            <div> 
               <div class ="text-box">
                  <h1> Enter Image </h1>
                  <form action="" method="post" enctype="multipart/form-data">
                     <input type="file" name="file" />
                     <input type="submit" value="Upload">
                  </form>
                  <a href="convert" class ="button">Convert</a>
            </div>
         </section>
      </div>
</body>
</html>