<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" conten="IE=edge">
      <title> Practice Website</title>
      <link rel="stylesheet" href="{{url_for('static', filename='index.css')}} " />

   </head>
   <body>
      <div>
         <section class="header">
             <nav>
             <div class="nav-links">
                 <ul>
                     <li><a href="convert">Application</a></li>
                     <li><a href="about">About</a></li>
                 </ul>
             </div>    
            
             </nav>
         </section> 
     </div>

      <div> 

            <div class ="text-box">
               <h1> PicTex </h1>
               <br><br>
               <h3>Picture to text converter</h3>
               <p> The software that enables you to gather <br>the text on your picture and enables you <br>to edit it on a text file. </p>
               <a href="convert" class ="button">Start</a>
            </div>

      
      </div>
      

</body>
</html>